html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App-light {
  background-color: rgb(252, 252, 252);
  color: black;
}

.App-dark {
  background-color: #201f23;
  color: white;
}

